src/main/mule/prime.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="94c1ef85-ad83-415d-a994-4339fa2b23b0" >
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	<flow name="primeFlow" doc:id="3cd0c4f3-4401-46d9-b623-49b0172f4f24" >
		<http:listener doc:name="Listener" doc:id="f592c0ee-6ee4-47d6-a451-f96eb88f8dee" config-ref="HTTP_Listener_config" path="/prime"/>
		<logger level="INFO" doc:name="Logger" doc:id="e4de9839-00e8-4b2a-b267-f4f6e2443c80" message="hello world"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="e2ff9129-6b9b-4595-bbef-83ea3c18a97d" />
	</flow>
</mule>
